[package]
name = "kubernetes-service-discovery"
version = "0.1.0"
edition = "2021"

[dependencies]
# This pulls version from main branch so that docker build works (docker was confused by paths)
#groupcache = { git = "https://github.com/Petroniuss/groupcache.git" }
# todo: use this when docker build works
groupcache = { path = "../../groupcache" }

tonic = "0.10.0"
axum = "0.6.20"
tower = { version = "0.4.13", features = ["steer"] }
tower-http = { version = "0.4.4", features = ["trace"] }
tokio = { version = "1.12.0", features = ["full"] }

serde = { version = "1.0.130", features = ["derive", "rc"] }
serde_json = "1.0.68"

tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
axum-prometheus = "0.4.0"

anyhow = "1.0.72"
async-trait = "0.1.72"

kube = { version = "0.87.1", features = ["runtime", "derive"] }
k8s-openapi = { version = "0.20.0", features = ["latest"] }
